{% extends './parent.html' %} 
{% block content %}
<h1>update post</h1>

<form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">post title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      value="{{post.title}}"
    />
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Body</label>
    <input
      type="text"
      name="body"
      class="form-control"
      id="exampleInputPassword1"
      value="{{post.body}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Image</label>
    {% if post.image %}
      <img src="{{ url_for('static', filename=post.image) }}" alt="{{ post.title }}" width="200" height="200">
    {% endif %}
    <input
      type="file"
      name="image"
      class="form-control"
      id="exampleInputPassword1"
      accept=".png"
    />
  </div>
  <div class="mb-3">
    <select name="category_id">
      {%for category in categorys%}
          <option value= "{{category.id}}"
          {% if category.id == post.category_id %}
                  selected
          {%endif%}
          >{{category.name}}</option>
      {%endfor%}
  </select> 
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
